.grid-view table.items th {
    color: white;
    background: #e66060 !important;
    height: 32px;
}
.backtodrop{
	
    position: absolute;
    top: 9px;
    right: 17px;
    z-index: 111;
          
}
ul.yiiPager {
    font-size: 14px !important; 
    border: 0;
    margin: inherit !important; 
    padding: 0;
    line-height: none !important; 
    display: inline;
}
ul.yiiPager .selected a {
    background: #E66060 !important;
    color: #FFFFFF;
    font-weight: bold;
}ul.yiiPager a:link, ul.yiiPager a:visited {
    border: solid 1px  #E66060 !important;
    font-weight: bold;
    color: #E66060 !important;
    padding: 4px 14px !important;
    text-decoration: none;
}li.page.selected a {
    color: #fff !important;
}