<div class="content-page"  ng-if="editPages">
    <div class="content">
        <div class="">
            <div class="page-header-title">
                <h4 class="page-title">Page List</h4>
            </div>
        </div>
        <div class="page-content-wrapper ">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-primary">
                            <div class="panel-body">
                                <div id="pages-grid" class="grid-view">
                                    <div class="summary">Displaying 1-6 of 6 results.</div>
                                    <table class="items">
                                        <thead>
                                            <tr>
                                                <th id="pages-grid_c0"><a class="sort-link" href="">ID</a></th>
                                                <th id="pages-grid_c1"><a class="sort-link" href="">Page Name</a></th>
                                                <th class="button-column" id="pages-grid_c2">&nbsp;</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="odd" ng-repeat="managePage in managePages">
                                                <td>{{managePage.iPageID}}</td>
                                                <td>{{managePage.vPageTitle}}</td>
                                                <td class="button-column"><a class="btn btn-success btn-xs waves-effect" href="" ng-click="goToEditPage(managePage)"><i class="fa fa-edit"></i></a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="keys" style="display:none" title="/itsadmin/index.php/pages/admin"><span>1</span><span>2</span><span>3</span><span>4</span><span>5</span><span>6</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer"> © 2017 Apex-Admin - All Rights Reserved. </footer>
</div>
<!-- NEW PAGE -->
<div class="content-page" ng-show="!editPages" >
    <div class="content">
        <div class="">
            <div class="page-header-title">
                <h4 class="page-title">Manage FAQs </h4>
            </div>
        </div>
        <div class="page-content-wrapper ">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-primary">
                            <div class="panel-body">
                                <div class="col-xs-12">
                                    <h4 class="m-t-0 m-b-30 col-xs-8">Update Page</h4>
                                    <div class="col-xs-4">
                                        <a href="" ng-click="BackToManageList()" class="btn btn-primary waves-effect pull-right waves-light "><i class="fa fa-arrow-left"></i> Back </a>
                                    </div>
                                </div>
                                <form class="form-horizontal" id="pages-form" method="post" name="myForm">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label required" for="Pages_PAGE_NAME">Page Name <span class="required">*</span></label>
                                        <div class="col-md-10">
                                            <input class="form-control" required name="Pages[PAGE_NAME]" id="Pages_PAGE_NAME" type="text" value="pageForEdit.vPageTitle" ng-model="pageForEdit.vPageTitle">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label required" for="Pages_PAGE_CONTENT">Page Content <span class="required">*</span></label>
                                        <div class="pull-right col-xs-12">
                                            <textarea ui-tinymce="tinymceOptions" ng-model="pageForEdit.tContent" required></textarea>
                                        </div>
                                        <div class="form-group m-b-0">
                                            <center>
                                                <div class="col-xs-12" style="margin-top:10px">
                                                    <input class="btn btn-info" ng-disabled="myForm.$invalid" type="submit" name="yt0" value="Save" ng-click="editPage(pageForEdit);setContent();">
                                                </div>
                                            </center>
                                        </div>
                                    </div>
                                </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer"> © 2017 Apex-Admin - All Rights Reserved. </footer>
        </div>
    </div>
